.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #90EE90;
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
}

.faceclass-logo {
  height: 30px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button {
  background-color: #006400;
  color: white;
  padding: 30px 100px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #004d00;
}
